body {
  overflow: hidden;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border: 1px solid black;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 50px;
  border: 1px solid black;
}

#block {
  height: 100px;
  width: 100px;
  position: absolute;
  background: red;
}

.n {
  position: absolute;
  top: 100px;
  width: 200px;
  height: 10px;
  background: black;
}

.n1 {
  top: 200px;
}
.n2 {
  top: 300px;
}
.n3 {
  top: 400px;
}
.n4 {
  top: 500px;
}

img {
  width: 50px;
}